.wrapper {
  display: flex;
  padding: 9px 16px;
  cursor: pointer;
  gap: 12px;

  &:hover {
    background: rgba(255, 255, 255, 0.04);
  }
}
.avatar {
  width: 40px;
  border-radius: 50px;
  object-fit: cover;
  height: 40px;
}

.name {
  font-size: 1.6rem;
  line-height: 21px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #e9e9e9;
}

.username {
  font-size: 1.4rem;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-ticket {
  color: #20d5ec;

  margin-left: 4px;
  font-size: 1.4rem;
}
